In [86]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [87]:
data_red = pd.read_csv('winequality-red.csv')
data_white = pd.read_csv('winequality-white.csv')

In [97]:
data_red.head()

     0     1     2    3      4   5   6       7     8     9    10 11
0   7.4   0.7     0  1.9  0.076  11  34  0.9978  3.51  0.56  9.4  5
1   7.8  0.88     0  2.6  0.098  25  67  0.9968   3.2  0.68  9.8  5
2   7.8  0.76  0.04  2.3  0.092  15  54   0.997  3.26  0.65  9.8  5
3  11.2  0.28  0.56  1.9  0.075  17  60   0.998  3.16  0.58  9.8  6
4   7.4   0.7     0  1.9  0.076  11  34  0.9978  3.51  0.56  9.4  5

In [89]:
data_red = data_red.set_axis(['old'],axis=1, inplace = False)
data_red.head()

                                                 old
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5

In [90]:
data_red = data_red['old'].str.split(';', expand=True)

In [91]:
cols = data_white.columns.values
col = np.array2string(data_white.columns.values).split(';')
s = []
for c in col:
    s.append(re.sub((r'\W+'), '',c))
s

['fixedacidity',
 'volatileacidity',
 'citricacid',
 'residualsugar',
 'chlorides',
 'freesulfurdioxide',
 'totalsulfurdioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

In [92]:
data_white = data_white.set_axis(['old'],axis=1, inplace = False)
data_white = data_white['old'].str.split(';', expand=True)

red_wine = data_red.set_axis(s,axis=1,inplace = False)
white_wine = data_white.set_axis(s,axis=1,inplace = False)

In [93]:
x = data_changed['alcohol']
y = data_changed['quality']
y[0]
#plt.scatter(x,y)

'5'

In [102]:
def prepareData():
    data_red = pd.read_csv('winequality-red.csv')
    data_white = pd.read_csv('winequality-white.csv')
    data_red = data_red.set_axis(['old'],axis=1, inplace = False)
    data_red = data_red['old'].str.split(';', expand=True) 
    cols = data_white.columns.values
    col = np.array2string(data_white.columns.values).split(';')
    s = []
    for c in col:
        s.append(re.sub((r'\W+'), '',c))
    data_white = data_white.set_axis(['old'],axis=1, inplace = False)
    data_white = data_white['old'].str.split(';', expand=True)
    red_wine = data_red.set_axis(s,axis=1,inplace = False)
    white_wine = data_white.set_axis(s,axis=1,inplace = False)
    return red_wine, white_wine

In [103]:
red_wine, white_wine = prepareData()

In [104]:
red_wine

,fixedacidity,volatileacidity,citricacid,residualsugar,chlorides,freesulfurdioxide,totalsulfurdioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6
4,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.6,0.08,2,0.09,32,44,0.9949,3.45,0.58,10.5,5
1595,5.9,0.55,0.1,2.2,0.062,39,51,0.99512,3.52,0.76,11.2,6
1596,6.3,0.51,0.13,2.3,0.076,29,40,0.99574,3.42,0.75,11,6
1597,5.9,0.645,0.12,2,0.075,32,44,0.99547,3.57,0.71,10.2,5
1598,6,0.31,0.47,3.6,0.067,18,42,0.99549,3.39,0.66,11,6